<div>
<footer class="mastfoot mt-auto navbar-fixed-bottom">
  <div class="inner-footer">
    <p class="mastfoot-p">
      Desenvolvido por:
      <span><a href="https://github.com/carolteerra" target="_blank">@carolteerra</a></span>,

      <span><a href="https://github.com/nataliasabino" target="_blank">@sabinonatalia</a></span>,
      <span><a href="https://github.com/alessandragr" target="_blank">@alessandra</a></span>
      e
      <span><a href="https://github.com/ribeirodg" target="_blank">@daiane</a></span>
    </p>
  </div>
  </footer>
</div>
