html,
body {
  background-color: #ffff;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;

  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #001242;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2rem rgba(0, 18, 66, 0.5);
}
