<div class="container">
  <div class="row d-flex-justiify-content-center">
    <h1 class="text-center mt-5">Usuários</h1>
    <p class="lead text-center">
      Ordene os usuários na lista abaixo ou busque um produto por nome.
    </p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Usuários</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ordenar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Por nome</a></li>
                <li>
                  <a class="dropdown-item" href="#">Por ID</a>
                </li>
                <li><a class="dropdown-item" href="#">Por nome </a></li>
              </ul>
            </li>
            <li class="nav-item">
                <button type="button" id="#myModal1" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal1" routerLink="/cadastro-usuarios">
                  Cadastrar
                </button>
            </li>
          </ul>

          <form class="d-flex">
            <input [(ngModel)]="nomeUsuario" (keyup)="findByNomeUsuario()" name="nomeUsuario" class="form-control me-2" name="" type="search" placeholder="Buscar por nome ou ID" aria-label="Search" />

            <!-- <button class="btn btn-outline-warning" type="submit">
              Busca
            </button> -->
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>



<div class="container">
  <div class="row d-flex-justiify-content-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Senha</th>
          <th scope="col">Deletar/Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuario" >
          <th scope="row">{{usuario.id}}/th>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.sobrenome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.senha}}</td>
          <td>
            <button type="button" onclick="userDelete(this)" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>
            </button>
            <span>
              <button type="button" [routerLink]="['usuarios/edit', id]" class="btn btn-outline-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>