<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <h2 class="text-center">Atualizar produto</h2>
    <div class="col-md-6 mt-3">
      <div class="form-group">
        <label for="titulo">Nome</label>
        <input [(ngModel)]='produto.nome' type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome  ">
      </div>
    
      <div class="form-group mt-2">
        <label for="titulo">Preço</label>
        <input [(ngModel)]='produto.preco' type="number" class="form-control" name="preco" id="preco" placeholder="Digite o preço">
      </div>
    
      <div class="form-group mt-2">
        <label for="texto">Descrição</label>
        <textarea [(ngModel)]='produto.descricao' class="form-control" name="descricao" id="texto" rows="3" placeholder="Digite a descrição"></textarea>
      </div>
    
      <div class="form-group mt-2">
        <label for="quantidade">Quantidade</label>
        <input [(ngModel)]='produto.qtd' type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Digite a quantidade">
      </div>
    
      <div class="form-group mt-2">
        <label for="categoria">Categoria</label>
        <input [(ngModel)]='produto.categoria' type="text" class="form-control" name="categoria" id="categoria" placeholder="Digite a categoria">
      </div>
      <div class="form-group mt-2">
        <label for="imgurl">Foto do produto</label>
        <input [(ngModel)]='produto.imgURL' type="text" class="form-control" id="imgurl" name="imgurl" placeholder="Imagem do produto">
      </div>
    
      <div class=" d-flex justify-content-center mt-3">
        <button class="btn btn-primary text-white me-4" routerLink="/produtos">Cancelar</button>
        <button class="btn btn-warning text-white" (click)="atualizar()">Atualizar</button>
      </div>
  
      <div>
        
      </div>
  
    </div>
    
  </div>
  </div>
  
          
